<ts-ui-split-panel style='height: 25vh;' [type]="0" [collapsible]="false">
    <ts-ui-split-panel-section>
        <p>Lorem ipsum dolor sit amet...</p>
    </ts-ui-split-panel-section>
    <ts-ui-split-panel-section>
        <p>Lorem ipsum dolor sit amet...</p>
    </ts-ui-split-panel-section>
</ts-ui-split-panel>
<ts-ui-split-panel style='height: 25vh;' [type]="1">
    <ts-ui-split-panel-section>
        <p>Lorem ipsum dolor sit amet...</p>
    </ts-ui-split-panel-section>
    <ts-ui-split-panel-section>
        <p>Lorem ipsum dolor sit amet...</p>
    </ts-ui-split-panel-section>
</ts-ui-split-panel>

<igx-splitter style='height: 25vh;' [type]="0">
    <igx-splitter-pane>
        <p>Lorem ipsum dolor sit amet...</p>
    </igx-splitter-pane>
    <igx-splitter-pane>
        <p>Lorem ipsum dolor sit amet...</p>
    </igx-splitter-pane>
</igx-splitter>
<igx-splitter style='height: 25vh;' [type]="1">
    <igx-splitter-pane>
        <p>Lorem ipsum dolor sit amet...</p>
    </igx-splitter-pane>
    <igx-splitter-pane>
        <p>Lorem ipsum dolor sit amet...</p>
    </igx-splitter-pane>
</igx-splitter>

